html {
    height:100%;
    min-height:100%;
}

body {
    background-color: #f7f7f7;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #171717;
    min-height:100%;
}

table, tr, td, a {
    text-decoration: none;
    color: #5f5f5f;
}

table, tr, td, a:visited {
    text-decoration: none;
    color: #5f5f5f;
}

table, tr, td, a:hover {
    color: #171717;
}

table, tr, td {
    text-align: center;
    width: 11em;
    height: 2em;
}

#background {
    background-image: url("https://cloud.githubusercontent.com/assets/13939627/9754141/d36bc264-567a-11e5-9281-0cf0dcf178fa.jpg");
    background-color: #ffffff;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#exploreButtonFrame {
    border: 3px solid #ffffff;
	background-color: rgba(255, 255, 255, 0);
	width: 9em;
    height: 3.5em;
    margin: auto;
    display: block;
}

div#exploreButtonFrame a {
    text-align: center;
}

#exploreButtonFrame:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#exploreButtonFrame:hover #exploreButtonText{
    color: rgb(86, 119, 92);
}

#exploreButtonText {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    color: white;
}

#email {
    color: white;
    font-style: italic;
}

#email:hover {
    font-weight: bold;
}

#welcomeLogo {
    width: 10em;
    padding-top: 1em;
    padding-left: 1.5em;
}

#welcome {
    display: table-cell;
    width: 35em;
}

#special {
    color: #f7f7f7;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.5em;
    padding-right: 0.5em;
}

#special:before {
    content: "\00a0 ";
}

#vsco {
    width: 3.5em;
}

div.TFcontainer {
    margin-top: 11%;
}

div.TFcontainer img {
    margin:auto;
}

.navigation {
    padding-top: 2em;
    padding-left: 2.3em;
}

.logo {
    width: 10em;
    padding-top: 1em;
    padding-left: 1.5em;
}

.side_bar {
	z-index: 0;
	position:fixed;
    float: left;
	height: 100%;
	background-color: #f7f7f7;
}

.my-gallery {
	background-color: #f7f7f7;
    margin-left: 12em;
    padding-left: 2em;
    padding-top: 0.01em;
}

.my-gallery img {
    height: 11.6em;
    width: auto;
}

.my-gallery figure {
    display: inline-block;
    margin: 0.5em 0 -0.2em 0.3em;
}

.galleryName {
    padding-left: 0.2em;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    font-size: 250%;
}

#about {
    margin-left: 14em;
    margin-top: 5em;
    margin-right: 8em;
    padding-top: 3em;
    position: fixed;
    height: 70%;
    background-image: url("https://cloud.githubusercontent.com/assets/13939627/9747132/cd775a20-5630-11e5-8d93-d412494df58a.jpg");
    background-color: #ffffff;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: white;
    overflow: scroll;
    font-family: 'Rajdhani', sans-serif;
}

.aboutPadding {
    padding-left: 4em;
    padding-right: 4em;
}

#aboutPageTitle {
    position: fixed;
}

#ucla {
    padding-top: 1.6em;
    padding-bottom: 1.2em;
    width: 8em;
    height: auto;
}

@media only screen and (max-device-width: 1081px) {

    .galleryName {
        font-size: 4em;
        margin-top: 0.1em;
        margin-left: 0.1em;
        font-family: 'Rajdhani', sans-serif;
	}
    .my-gallery img {
        height: 14em;
        width: auto;
    }
    #pano {
        height: 10em;
        width: auto;
    }
    #ucla {
        width: 12em;
        height: auto;
    }
    table, tr, td {
        font-size: 115%;
    }
    .navigation {
        padding-left: 0.8em;
    }
    .logo {
        width: 13em;
        margin-left: -1.2em;
    }
    #welcomeLogo {
        width: 18em;
    }
    #about {
        margin: 5em 2em 2em 9em;
        padding-top: 1em;
        font-size: 150%;
        height: 80%;
    }
    .aboutPadding {
        padding-left: 2em;
        padding-right: 2em;
    }
    #about p {
        position: static;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.3em;
    }
    #welcome {
        width: 45em;
        margin-top: -5em;
    }
    div#exploreButtonFrame {
        border: 5px solid #ffffff;
	    width: 18em;
        height: 6.5em;
    }
    #exploreButtonText {
        font-size: 2.4em;
    }
    
}